.contactUs {
    background-color: #a2bfdd;
    text-align: center;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2E2E2E;
}

.contactUs .generalInfo {
    border-radius: 8px;
    background-color: #f9fbff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px 15px 5px 15px;
    line-height: 150%;
    margin-bottom: 50px;
}

.contactUs .contactText {
    text-align: left;
    border-radius: 8px;
    background-color: #dddddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px 15px 5px 15px;
    line-height: 150%;
}

.contactUs h1 {
    text-align: center;
    width: 100%;
}

.departmentInfoTable {
    width: 80%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f9fbff;
    margin-bottom: 50px;
}

.departmentInfoTable th {
    background: linear-gradient(to bottom, #e0e0e0, #bebebe);
    text-align: left;
    padding: 12px 16px;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.departmentInfoTable td {
    padding: 12px 16px;
    border-bottom: 1px solid #d0d9e5;
    color: #333;
    background-color: #ffffff;
    text-align: left;
}

.FAQSection h2{
    margin-top: 30px;
    text-align: center;}

.FAQSection .question {
    text-align: left;
    text-align: left;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 3px 15px;
    line-height: 150%;
    margin-bottom: 15px;
}
