.contactUs {
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    text-align: center;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2E2E2E;
    font-weight: 600;
}

.contactUs .section-header {
    background: white;
    padding: 10px 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    height: auto;
    margin-bottom: 1rem;
}

.contactUs .generalInfo {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    line-height: 150%;
    margin-bottom: 50px;
    
    background: white;
    padding: 20px 15px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    
}

.contactUs .contactText {
    text-align: left;
    border-radius: 8px;
    background-color: #dddddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    line-height: 150%;
    
}

.contactUs h1 {
    text-align: center;
    width: 100%;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.departmentInfoTable {
    width: 75%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f9fbff;
    margin-bottom: 50px;
    border-collapse: separate; 
    border-spacing: 0;         
    overflow: hidden;          
    border: 1px solid #ccc;
}

.departmentInfoTable tr{
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: white;
}

.departmentInfoTable th {
    background: transparent;
    text-align: left;
    padding: 12px 16px;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.departmentInfoTable td {
    padding: 1.5rem 1rem;
    border-bottom: 1px solid #d0d9e5;
    color: #333;
    background-color: #ffffff;
    text-align: left;
    
}

.FAQSection h2{
    margin-top: 30px;
    text-align: center;}

.FAQSection .question {
    text-align: left;
    text-align: left;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 3px 15px;
    line-height: 150%;
    margin-bottom: 15px;
}
