html {
color: #2E2E2E;
font-family: Arial, Helvetica, sans-serif;
background-color: #F2F2F2;
}
body {
margin: 0px;
padding: 0px;
height: 100%;
}
.header {
padding: 10px;
width: 100%;
text-align: center;
background-color: #F2F2F2;
color: #424242;
}
.footer {
clear: both;
position: inherit;
bottom: 0;
left: 0;
text-align: center;
width: 100%;
height: 20px;
background-color: #808080;
color:#fff;
}