.purchase {
    background-color: #a2bfdd;
    text-align: center;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2E2E2E;
}

.purchase h1 {
    text-align: center;
    width: 100%;
}

.purchase form {
    width: fit-content;
}

.purchase .form-row {
    display: flex;
    justify-content: flex-start;    
    align-items: center;
    margin-bottom: 20px;

    background-color: #b4cfeb;
    border: 1px solid #b0c4de;
    border-radius: 6px;
    padding: 10px 15px;
    height: 100%;
}

.purchase form label{
    width: 500px;
    text-align: left;
}

.purchase form input{
    height: 30px;
    width: 120px;
    border: 1px solid #b0c4de;
    border-radius: 4px;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.3);
    background: linear-gradient(to bottom, #ffffff, #e8f0fe);
}

.purchase .button {
    width: 150px;
    height: 30px;
    box-shadow: 0 4px 0 #999;
    border: none;
    border-radius: 4px;
}

.purchase .button:hover {
    background-color: rgb(226, 226, 226);
}

.purchase .button:active {
    background-color: #b1b1b1;
    box-shadow: 0 2px 2px #2d5f9a;
    transform: translateY(2px);
}
